.container {
  width: 87%;
  margin: auto;
  @include display-flex();
  #logo {
    @include responsive-container(100%, 45%);
    margin: 3% auto;
    margin-left: 6%;
  }
  .form-container {
    margin: auto;
    padding: 3.3% 0%;
    @include radius;
    @include responsive-container(100%, 40%);
    h2 {
      font-size: $baseFontSize * 2.3;
      text-align: center;
    }
    .register-form {
      @include responsive-container(100%, 55%);
      @include display-flex();
      flex-direction: column;
      margin: auto;
      input {
        @include radius;
        @include responsive-container(100%, 95%);
        margin: 3% auto;
        padding: 2.8%;
        border: 1px solid $white2;
      }
      input::placeholder {
        font-size: 1.1rem;
      }
      input.input-error {
        border: 1px solid red;
      }
      span {
        display: flex;
        justify-content: flex-end;
        button {
          margin-top: 4%;
          @include responsive-container(100%, 215px, 46px);
          @include radius;
          border: none;
          font-size: $baseFontSize * 1.1;
          background: $sea;
          color: $white;
          &:hover {
            background: $black;
          }
        }
      }
    }
  }

  .error {
    color: red;
  }
}
