@mixin display-flex($j: center, $a: center) {
  display: flex;
  justify-content: $j;
  align-content: $a;
}

@mixin radius {
  border-radius: 4px;
}

@mixin responsive-container($width: 100%, $mwidth: 500px, $height: auto) {
  width: $width;
  max-width: $mwidth;
  height: $height;
}
