$phone: 400px;
$phone-wide: 480px;
$phablet: 560px;
$tablet-small: 640px;
$tablet: 768px;
$tablet-wide: 1024px;
$desktop: 1248px;
$desktop-wide: 1440px;

// colors
$white: hsl(40, 60%, 98%);
$white2: hsl(38, 17%, 87%);
$sea: hsl(176, 34%, 34%);
$grey: hsl(175, 18%, 60%);
$black: hsl(40, 63%, 7%);

// color main purpose
$main-bg: $white;
$main-accent: $sea;
$second-accent: $grey;
$main-font: $black;

// font
$lato: "Lato", sans-serif;

// font sizing
$baseFontSize: 14px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

// spacing
$pad: 1em;
